@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChronoGen, Join the Family Today!</h1>
    <div class="h3 text-left mt-3">Trending Designs</div>
    <div class="card-columns">
        @* Trending Designs on homepage*@
       
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w1.jpg');"></div>
            <div class="card-body"><h5>Designer: Josh</h5></div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w2.jpg');"></div>
            <div class="card-body"><h5>Designer: Robin</h5></div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w3.jpg');"></div>
            <div class="card-body"><h5>Designer: Maria</h5></div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w4.jpg');"></div>
            <div class="card-body"><h5>Designer: Chloe</h5></div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w5.jpg');"></div>
            <div class="card-body"><h5>Designer: Marla</h5></div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image:url('/img/w6.jpg');"></div>
            <div class="card-body"><h5>Designer: Sam</h5></div>
        </div>
    </div>
</div>
